@font-face {
    font-family: BaiduZongyi;
    src: url('../Font/百度综艺简体.ttf');
}
@font-face {
    font-family: ZaoziGongfangShujian;
    src: url('../Font/造字工房书见字体.ttf');
}
@font-face {
    font-family: RuiyunXiyuan;
    src: url('../Font/锐字云细圆体.ttf');
}
body {
    background-color: #FFF;
    margin: 0px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
}
#head{
    position:fixed;
    width:100%;
    top:0;
    z-index:1;
}
#head_title {
    background-color: #123;
    height: 120px;
}

.text_title {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 70px;
    font-family: BaiduZongyi
}

#index {
    background-color: #111;
    height: 31px;
    border-bottom: 1px solid #777;
}

.selected_index {
    text-decoration:none;
    float:left;
    width:100px;
    height:18px;
    padding:6px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    font-family: RuiyunXiyuan;
    font-weight: bold;
    color:#000;
    text-align: center;
    background-color: #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.unselected_index {
    text-decoration:none;
    float:left;
    width:100px;
    height:18px;
    padding:6px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    font-family: RuiyunXiyuan;
    font-weight: bold;
    color:#FFF;
    text-align: center;
    background-color: #333;
    border-right: 1px solid #FFF;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}
#Datas{
    top:20px
}
